---
import IntroduccionDocker from './IntroduccionDocker.astro'
import CaracteristicasDocker from './CaracteristicasDocker.astro'
import ImagenesDocker from './ImagenesDocker.astro'
import ContenedoresDocker from './ContenedoresDocker.astro'
import VolumenesDocker from './VolumenesDocker.astro'
---

<section class="text-gray-900 py-10 bg-white">
  <div class="w-full">
    <h1 class="text-5xl font-bold text-center mt-12">Uso de <span class="text-blue-600">Docker</span> para Software <span class="text-cyan-600">Bioinformatico</span></h1>

    <IntroduccionDocker />
    <CaracteristicasDocker />
    <ImagenesDocker />
    <ContenedoresDocker />
    <VolumenesDocker />
  </div>
</section>
