---
// Hero.astro
---
<section id="Hero" class="h-[90vh] md:h-screen flex items-center justify-center relative bg-gradient-to-b from-[#0b0c2a] via-[#1a1d46] to-[#ffff]">
  <div class="text-center z-10">
    <h1 class="text-5xl md:text-6xl font-extrabold text-white mb-4">Explorando Química y Redes Neuronales</h1>
    <p class="text-xl text-white mb-6">Uniendo la ciencia de la química con el poder de la inteligencia artificial.</p>
    <a href="#Docker" class="px-6 py-2 bg-white text-blue-500 rounded-lg font-semibold hover:bg-blue-500 hover:text-white transition">Descubre más</a>
  </div>
  <img src="cientifico.png" alt="" class="absolute bottom-0 left-1/2 transform -translate-x-1/2 md:translate-x-full h-62 md:h-72">
</section>
