---
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Navbar from "../components/Navbar.astro";
import Tutorial from "../components/Tutorial.astro";
import Referencias from "../components/Referencias.astro";
import DockerInfo from "../components/Dockerinfo.astro";
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portafolio - Química y Redes Neuronales</title>
		<link href="/dist/output.css" rel="stylesheet" />
	</head>
	<body class="bg-gray-900 text-white font-sans">
		<Navbar />
		<Hero />
		<DockerInfo />
		<Tutorial />
		<Referencias />
	</body>
</html>
